name: Daily Report (Parse)

on:
  schedule:
    - cron: "10 5 * * 1-5"
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Say hello
        run: |
          echo "Hello from Daily Report (Parse)"
