name: Daily
on:
  workflow_call:         # gør det muligt at blive kaldt af andre workflows
  schedule:
    - cron: "0 5 * * *"  # kører også af sig selv dagligt
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo "Daily build kører..."
